*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}


:root{
	--c1:black;
	--c2:white;
	--c3:#26c9a1;
	--c4:burlywood;
	--c5:brown;
	--c6:lightgray;
	--c7:#b39fa4;
}



/*nvabar styles*/
.nav-bar{
	height: 10vh;
	width: 100%;
	background-color:var(--c3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	padding:20px 10px;
/*	box-shadow: 2px 4px 2px var(--c1);*/
	position: fixed;
	z-index:10;
	top: 0;
	left: 0;


}
.nav-bar > section{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;

}
.nav-bar > section > h1{
	font-size: 40px;
}
.nav-bar > section > img{
	height: 40px;
	width: 40px;
	margin: auto;
}

.nav-bar > label, #chk, #sr{
	display: none;
}

.icons{
	display: flex;
	gap:20px;
}


.navitems a{
	color: var(--c2);
	font-size: 25px;
	text-decoration: none;
	padding: 10px;
}
.navitems a:hover{
	background-color: var(--c2);
	color: var(--c3);
	border-radius: 20px;
}
.icons i,a{
	color: var(--c2);
	font-size: 30px;
}

.search{
	width: 100%;
	height: 50px;
	display: flex;
	gap: 20px;
	align-items: center;
	background-color:var(--c2);
	padding: 10px 15px;
	position: absolute;
	left: 0;
	top: 10vh;
	display: none;
}
.search > input{
	width: 90%;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 10px;
}
.search i{
	color: var(--c1);
	font-size: 1.5rem;
}
#sr:checked ~.search{
	display: flex;
}
#chk:checked ~ .navitems{
	background-color: var(--c3);
	left: 0;
	
	}

/* navbar styles ends */

/*contact styles starts*/
.box{
	width: 600px;
	margin:15vh auto;
}

.box > h1,.box > h2, .box > p{
	text-align: center;
	padding: 10px 0;
}
.box p{
	font-size: 20px;
}
.box section p span{
	font-weight: bold;
	cursor: pointer;
	
}
.box section p span:hover{
	text-decoration: underline;
}
.box form{
	padding: 20px 0px;
}
.box form input{
	width: 100%;
	padding: 10px;
	margin: 10px 0px;
}

.box form button{
	width: 100%;
	padding: 10px;
	background-color: indianred;
	color: var(--c2);
	border: none;
	border-radius: 25px;
	margin: 10px 0px;
}
.box form textarea{
	width: 100%;
	resize: none;
}

/*contact styles ends*/




/*footer styles start*/
footer{
	width: 100%;
	padding: 20px 20px;
	background-color: var(--c7);
}
footer > div{
	display: flex;
	justify-content: space-around;
	gap: 20px;
	flex-wrap: wrap;

}

footer section{
	width: 300px;
}
footer section h2{
	padding-bottom: 10px;
}
footer section p{
   line-height: 2;
}
footer section:nth-child(2) p{
	line-height: none;
}
footer section p:hover{
	font-weight: bold;
	cursor: pointer;
}

footer section div{
	font-size: 30px;
	display: flex;
	gap: 20px;
	padding: 10px 0px;
	cursor: pointer;
}
footer form{
	padding-top: 20px;
}
footer form input{
	width: 300px;
	padding: 10px;
	margin: 15px 0px;
}

footer form button{
	width: 200px;
	background-color:var(--c3);
	color: var(--c2);
	padding: 10px;
	border-radius: 20px;
	border: none;
	display: block;
	margin: 15px 0px;
}




/*media queries*/
@media screen and (max-width:935px){
	
	.icons{
		gap: 10px;
	}
	.navitems{
		position: fixed;
		left: -100%;
		top:10vh;
		height: 50%;
		width:100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	

	.nav-bar > label{
		display: inline;
		font-size: 15px;
		border: 1px solid var(--c1);
		padding: 3px;
		border-radius: 5px;
		font-weight: bolder;
	}
	.nav-bar > section > h1{
		font-size: 25px;
	}
	.nav-bar > section img{
		display: none;
	}
	.icons i,a{
		font-size: 15px;
	}


	.box{
	width: 100%;
	padding: 5px 10px;
	}
	.box section{
		display: grid;
		place-items: center;
	}
	.box > section span{
		display: block;
		font-size: 20px;
	}
	.box textarea{
		width: 90%;
	}
	.box form h1{
		font-size: 30px;
	}
	footer form input{
		width: 200px;
	}

}






