*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}


:root{
	--c1:black;
	--c2:white;
	--c3:#26c9a1;
	--c4:burlywood;
	--c5:brown;
	--c6:lightgray;
	--c7:#b39fa4;
}



/*nvabar styles*/
.nav-bar{
	height: 10vh;
	width: 100%;
	background-color:var(--c3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:20px 10px;
	position: fixed;
	z-index:10;
	top: 0;
	left: 0;


}

.nav-bar > section{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;

}
.nav-bar > section > h1{
	font-size: 40px;
}
.nav-bar > section > img{
	height: 40px;
	width: 40px;
	margin: auto;
}

.nav-bar > label, #chk, #sr{
	display: none;
}

.icons{
	display: flex;
	gap:20px;
}


.navitems a{
	color: var(--c2);
	font-size: 25px;
	text-decoration: none;
	padding: 10px;
}
.navitems a:hover{
	background-color: var(--c2);
	color: var(--c3);
	border-radius: 20px;
}
.icons i,a{
	color: var(--c2);
	font-size: 30px;
}

.search{
	width: 100%;
	height: 50px;
	display: flex;
	gap: 20px;
	align-items: center;
	background-color:var(--c2);
	padding: 10px 15px;
	position: absolute;
	left: 0;
	top: 10vh;
	display: none;
}
.search > input{
	width: 90%;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 10px;
}
.search i{
	color: var(--c1);
	font-size: 1.5rem;
}
#sr:checked ~.search{
	display: flex;
}
#chk:checked ~ .navitems{
	background-color: var(--c3);
	left: 0;
	
	}

/* navbar styles ends */

/*register styles*/

.box{
	width: 400px;
	margin: 15vh auto;
	border: 2px solid  #625d5d;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;            
}

.box h1{
	font-size:50px;
	color: blueviolet;
	text-align: center;
	padding: 10px;
}

.inputbox{
        position: relative;
        margin: 30px 0;
        width: 300px;
        border-bottom: 2px solid var(--c1);
      }
.inputbox label{
	position: absolute ;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	color: brown;
	font-size: 20px ;
	transition: 0.5s;
} 

input:focus ~ label{
    top: -5px;
}



.inputbox input{
        width: 100%;
        height: 50px;
        border: none;
        outline: none;
        font-size: 20px;
        color: var(--c1);
}
      


.box button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #e6e2e2;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}
.box button:hover{
	background-color: var(--c7);
	color: var(--c2);
}



.register {
    font-size: 20px;
    color: var(--c1);
    text-align: center;
    margin: 20px 0 15px;
}

.register p a{
    text-decoration: none;
    color:var(--c1);
    font-weight: 800;
    font-size: 20px;
}

.register p a:hover{
    text-decoration: underline;
}

/*register styles ends*/



/*footer styles start*/

footer{
	width: 100%;
	padding: 20px 20px;
	background-color: var(--c7);
}
footer > div{
	display: flex;
	justify-content: space-around;
	gap: 20px;
	flex-wrap: wrap;

}

footer section{
	width: 300px;
}
footer section h2{
	padding-bottom: 10px;
}
footer section p{
   line-height: 2;
}
footer section p:hover{
	font-weight: bold;
}
footer section div{
	font-size: 30px;
	display: flex;
	gap: 20px;
	padding: 10px 0px;
	cursor: pointer;
}


footer form{
	
	padding: 20px;
}
footer form input{
	width: 300px;
	padding: 10px;
	margin: 15px 0px;
}

footer form button{
	width: 200px;
	background-color:var(--c3);
	color: var(--c2);
	padding: 10px;
	border-radius: 20px;
	border: none;
	display: block;
	margin: 15px 0px;
}



/*media queries*/

@media screen and (max-width:935px){
	
	.icons{
		gap: 15px;
	}
	.navitems{
		position: fixed;
		left: -100%;
		top:10vh;
		height: 50%;
		width:100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	

	.nav-bar > label{
		display: inline;
		font-size: 15px;
		border: 1px solid var(--c1);
		padding: 3px;
		border-radius: 5px;
		font-weight: bolder;
	}
	.nav-bar > section > h1{
		font-size: 25px;
	}
	.nav-bar > section > img{
		display: none;
	}

	.icons i,a{
		font-size: 15px;
	}


	.box{
		width: 300px;
	}
	.inputbox{
		width: 90%;
	}


	footer form input{
		width: 200px;
	}

}
